//Aca van a esta el html de de el chat que se va a conectar con MAin.js
<h1>Chat con WebSockets</h1>

<div>
    <input id="chatBox" type="text">
</div>
//en este div de van a mostrar los mensajes que se van a ir escribiendo 
<div>
    <p id="messageLogs"></p>
</div>