<h2>Registrarse </h2>

<form action="api/session/register" method="post">

  <label for="user">Nombre de usuario:</label>
  <input type="text" name="user" required />
  <br /><br />

  <label for="gmail">Correo electronico</label>
  <input type="text" name="gmail" required />
  <br /><br />

  <label for="password">Contraseña:</label>
  <input type="text" name="password" required />
  <br /><br />

  <button type="submit">Registrar</button>
</form>
